<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
<link rel="shortcut icon" href="/favicon.ico">
<title>{$title?$title.'-':null}{$option['title']?$option['title']:'来客PHP在线客服系统'}</title>
<link rel="stylesheet" href="https://at.alicdn.com/t/font_353057_c9nwwwd9rt7.css?v=__lkversion__">
<link href="//at.alicdn.com/t/font_353057_iozwthlolt.css?v=__lkversion__" rel="stylesheet">

{/* 载入框架&插件CSS */}
<link href="__style__/platform/bootstrap.min.css?v=__lkversion__" rel="stylesheet">
<link href="__style__/platform/common.css?v=__lkversion__" rel="stylesheet">
<link href="__style__/platform/common.v2.css?v=__lkversion__" rel="stylesheet">
<link href="__style__/platform/flex.css?v=__lkversion__" rel="stylesheet">

<script>var _upload_url = "{:url('upload/file')}";</script>
<script type="text/javascript" src="__script__/platform/vue.js?v=__lkversion__"></script>
<script type="text/javascript" src="__libs__/jquery/jquery.min.js?v=__lkversion__"></script>

<script type="text/javascript" src="__script__/platform/popper.min.js?v=__lkversion__"></script>
<script type="text/javascript" src="__script__/platform/bootstrap.min.js?v=__lkversion__"></script>
<script type="text/javascript" src="__script__/platform/common.js?v=__lkversion__"></script>
<script type="text/javascript" src="__script__/platform/common.v2.js?v=__lkversion__"></script>
<script type="text/javascript" src="__script__/platform/plupload.full.min.js?v=__lkversion__"></script>

<script type="text/javascript" src="__libs__/layui/layui.js?v=__lkversion__"></script>
<link rel="stylesheet" type="text/css" href="__libs__/layui/css/layui.css?v=__lkversion__"/>