<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>{$title?$title.'-':null}{$option['title']?$option['title']:'客服系统'}</title>

    <link href="__style__/platform/bootstrap.min.css?v=__lkversion__" type="text/css" rel="stylesheet"/>
    <link href="__style__/platform/common.css?v=__lkversion__" rel="stylesheet">

    <script type="text/javascript" src="__script__/platform/vue.js?v=__lkversion__"></script>
    <script type="text/javascript" src="__libs__/jquery/jquery.min.js?v=__lkversion__"></script>
    <script type="text/javascript" src="__script__/platform/popper.min.js?v=__lkversion__"></script>
    <script type="text/javascript" src="__script__/platform/bootstrap.min.js?v=__lkversion__"></script>
    <script type="text/javascript" src="__script__/platform/common.js?v=__lkversion__"></script>


</head>
<body>
{__CONTENT__}
</body>
</html>